<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlemap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Sceneform requires OpenGL ES 3.0 or later. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <!--
 Indicates that app requires ARCore ("AR Required").
    Ensures the app is visible only in the Google Play Store on devices that support ARCore.
    For "AR Optional" apps remove this line.
    -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleMap">

        <!-- Add meta-data tag here -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <activity android:name=".ui.lesson3.MapWithMarkerActivity" />
        <activity android:name=".ui.lesson2.NearbyPlaceActivity" />
        <activity android:name=".ui.lesson1.AddMapKtxActivity" />
        <activity android:name=".ui.lesson1.AddMapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>